.Permission{
    .mySaleRules{
        .ant-row{
            .ant-col{
                .ant-form-item {
                    margin-bottom: 0px !important;
                }
            }
        }
        .myCategoryList{
            border: 1px solid #CFCFCF;
            border-radius: 4px;
            width: 100%;
            padding: 10px 20px;
        }
    }
}